# Работа со строковыми значениями

__Автор задач: Блохин Н.В. (NVBlokhin@fa.ru)__

Материалы:
* Макрушин С.В. Лекция "Работа со строковыми значениям"
* https://pyformat.info/
* https://docs.python.org/3/library/re.html
    * https://docs.python.org/3/library/re.html#flags
    * https://docs.python.org/3/library/re.html#functions
* https://pythonru.com/primery/primery-primeneniya-regulyarnyh-vyrazheniy-v-python
* https://kanoki.org/2019/11/12/how-to-use-regex-in-pandas/
* https://realpython.com/nltk-nlp-python/

## Задачи для совместного разбора

1. Вывести на экран данные из словаря `obj` построчно в виде `k = v`, задав формат таким образом, чтобы знак равенства оказался на одной и той же позиции во всех строках. Строковые литералы обернуть в кавычки.

In [ ]:
obj = {
    "home_page": "https://github.com/pypa/sampleproject",
    "keywords": "sample setuptools development",
    "license": "MIT",
}

In [ ]:
for i in obj:
  print(f'''{'"'+i+'"':13} = {'"'+obj[i]+'"':10}''')

"home_page"   = "https://github.com/pypa/sampleproject"
"keywords"    = "sample setuptools development"
"license"     = "MIT"

2. Написать регулярное выражение,которое позволит найти номера групп студентов.

In [ ]:
import pandas as pd
import re

In [ ]:
obj = pd.Series(["Евгения гр.ПМ19-1", "Илья пм 20-4", "Анна 20-3"])

print(re.findall(r'[ .]([А-Яа-я]{0,2} ?\d{2}-\d)', ' '.join(obj)))

['ПМ19-1', 'пм 20-4', '20-3']

3. Разбейте текст формулировки задачи 2 на слова.

In [ ]:
str_ = 'Написать регулярное выражение,которое позволит найти номера групп студентов.'
res = re.findall(r'[А-яеЁ]+', str_)
res

['Написать',
 'регулярное',
 'выражение',
 'которое',
 'позволит',
 'найти',
 'номера',
 'групп',
 'студентов']

## Лабораторная работа 6

### Форматирование строк

1\. Загрузите данные из файла `recipes_sample.csv` (__ЛР2__) в виде `pd.DataFrame` `recipes` При помощи форматирования строк выведите информацию об id рецепта и времени выполнения 5 случайных рецептов в виде таблицы следующего вида:

    
    |      id      |  minutes  |
    |--------------------------|
    |    61178     |    65     |
    |    202352    |    80     |
    |    364322    |    150    |
    |    26177     |    20     |
    |    224785    |    35     |
    
Обратите внимание, что ширина столбцов заранее неизвестна и должна рассчитываться динамически, в зависимости от тех данных, которые были выбраны.

In [ ]:
import pandas as pd
recipes = pd.read_csv('recipes_sample.csv')
recipes_5 = recipes.sample(5)
width = [max(map(lambda i: len(str(i)) if len(str(i)) > 2 else 2, recipes_5['id'])), 
         max(map(lambda i: len(str(i)) if len(str(i)) > 7 else 7, recipes_5['minutes']))]

print(f'|{" id ":^{width[0]}}|{"minutes":^{width[1]}}|')
print('|'+'-'*(sum(width)+1)+'|')
for i,j in list(zip(recipes_5[['id']].values, recipes_5[['minutes']].values)):
  #print(list(zip(recipes_5[['id']].values, recipes_5[['minutes']].values)))
  print(f'|{i[0]:^{width[0]}}|{j[0]:^{width[1]}}|')
# data = recipes_5[['id', 'minutes']].to_dict()
# data
# for i in data:
#   for j in data[i]:

|  id  |minutes|
|--------------|
|64000 |  10   |
|482649|  35   |
|108783|  25   |
|27840 |  28   |
|479681|  40   |

In [ ]:
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

2\. Напишите функцию `show_info`, которая по данным о рецепте создает строку (в смысле объекта python) с описанием следующего вида:

```
"Название Из Нескольких Слов"

1. Шаг 1
2. Шаг 2
----------
Автор: contributor_id
Среднее время приготовления: minutes минут
```

    
Данные для создания строки получите из файлов `recipes_sample.csv` (__ЛР2__) и `steps_sample.xml` (__ЛР3__). 
Вызовите данную функцию для рецепта с id `170895` и выведите (через `print`) полученную строку на экран.

In [ ]:
# считываем Xml файл
from bs4 import BeautifulSoup
with open('steps_sample.xml', 'r') as f:
  reader = BeautifulSoup(f, 'xml')

# считываем табличку csv
recipes = pd.read_csv('recipes_sample.csv')

# словарь с шагами по каждому рецепту вида {id_рецепта: ["шаг1", "шаг2"]}.
ides = []
steps = []
for recipe in reader.recipes.find_all('recipe'):
  ides += [id.next for id in recipe.find_all('id')]
  steps.append([step.next for step in recipe.steps.find_all('step')])
dict_id_steps = {i:j for i,j in zip(ides, steps)}
dict_id_steps

In [ ]:
def show_info(name, steps='', minutes='', author_id=''):
  str_ = f'"{name.title()}"\n\n'
  for i in range(1, len(steps)+1):
    str_ += f'{i}. {steps[i-1].capitalize()}\n'
  str_ += f'----------\n' + f'Автор: {author_id}\n' + f'Среднее время приготовления: {minutes} минут\n'
  return str_


show_info(
        name="george s at the cove black bean soup",
        steps=[
            "clean the leeks and discard the dark green portions",
            "cut the leeks lengthwise then into one-inch pieces",
            "melt the butter in a medium skillet , med",
        ],
        minutes=90,
        author_id=35193,
    )

'"George S At The Cove Black Bean Soup"\n\n1. Clean the leeks and discard the dark green portions\n2. Cut the leeks lengthwise then into one-inch pieces\n3. Melt the butter in a medium skillet , med\n----------\nАвтор: 35193\nСреднее время приготовления: 90 минут\n'

In [ ]:
assert (
    show_info(
        name="george s at the cove black bean soup",
        steps=[
            "clean the leeks and discard the dark green portions",
            "cut the leeks lengthwise then into one-inch pieces",
            "melt the butter in a medium skillet , med",
        ],
        minutes=90,
        author_id=35193,
    )
    == '"George S At The Cove Black Bean Soup"\n\n1. Clean the leeks and discard the dark green portions\n2. Cut the leeks lengthwise then into one-inch pieces\n3. Melt the butter in a medium skillet , med\n----------\nАвтор: 35193\nСреднее время приготовления: 90 минут\n'
)

## Работа с регулярными выражениями

3\. Напишите регулярное выражение, которое ищет следующий паттерн в строке: число (1 цифра или более), затем пробел, затем слова: hour или hours или minute или minutes. Произведите поиск по данному регулярному выражению в каждом шаге рецепта с id 25082. Выведите на экран все непустые результаты, найденные по данному шаблону.

In [ ]:
import re
steps = dict_id_steps['25082']
for i in steps:
  if re.findall(r'\d+ (?:hour[s]?|minute[s]?)', i ):
    print(re.findall(r'\d+ (?:hour[s]?|minute[s]?)', i ))

['20 minutes']
['10 minutes']
['2 hours']
['10 minutes']
['20 minutes', '30 minutes']

4\. Напишите регулярное выражение, которое ищет шаблон вида "this..., but" _в начале строки_ . Между словом "this" и частью ", but" может находиться произвольное число букв, цифр, знаков подчеркивания и пробелов. Никаких других символов вместо многоточия быть не может. Пробел между запятой и словом "but" может присутствовать или отсутствовать.

Используя строковые методы `pd.Series`, выясните, для каких рецептов данный шаблон содержится в тексте описания. Выведите на экран количество таких рецептов и 3 примера подходящих описаний (текст описания должен быть виден на экране полностью).

In [ ]:
samples = recipes.dropna()[recipes.dropna().description.str.contains('^this[A-Za-z0-9.,?! ]+, ?but')]['description']
print(len(samples))
for i in range(3):
  print(samples.iloc[i])

155
this cookie is made without flour and without sweetened condensed milk.  light and chewy.  i prefer using unsweetened coconut, but sweetened is fine.  this was my grandmother's recipe... probably from better homes and gardens.  they are flat, not the traditional mounded cookie.  perfect for dipping!
this is a moist, buttery apple cake.  the dough is best made the night before, put in the fridge and then filled and baked the next morning.
this is a very refreshing, nice summer dessert. very simple to prepare. you can use any pie filling that you wish, but we like lemon the best...it makes a nice contrast with the sweetness of the cream cheese mixture.

5\. В текстах шагов рецептов обыкновенные дроби имеют вид "a / b". Используя регулярные выражения, уберите в тексте шагов рецепта с id 72367 пробелы до и после символа дроби. Выведите на экран шаги этого рецепта после их изменения.

In [ ]:
steps = dict_id_steps['72367'] 
for i in range(len(steps)):
   steps[i] = re.sub(r'(\d) (\/) (\d)', r"\1\2\3", steps[i])
for i in steps:
  print(i)

mix butter , flour , 1/3 c
sugar and 1-1/4 t
vanilla
press into greased 9" springform pan
mix cream cheese , 1/4 c
sugar , eggs and 1/2 t
vanilla beating until fluffy
pour over dough
combine apples , 1/3 c
sugar and cinnamon
arrange on top of cream cheese mixture and sprinkle with almonds
bake at 350 for 45-55 minutes , or until tester comes out clean

### Сегментация текста

6\. Разбейте тексты шагов рецептов на слова при помощи пакета `nltk`. Посчитайте и выведите на экран кол-во уникальных слов среди всех рецептов. Словом называется любая последовательность алфавитных символов (для проверки можно воспользоваться `str.isalpha`). При подсчете количества уникальных слов не учитывайте регистр.

In [ ]:
import nltk

In [ ]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
# считываем Xml файл
from bs4 import BeautifulSoup
with open('steps_sample.xml', 'r') as f:
  reader = BeautifulSoup(f, 'xml')

In [ ]:
steps = []
for recipe in reader.recipes.find_all('recipe'):
  steps.append([step.next for step in recipe.steps.find_all('step')])
list_words = nltk.word_tokenize(' '.join([' '.join(i) for i in steps])) 
print(len(set(i.lower() for i in list_words if i.isalpha())))

14926

7\. Разбейте описания рецептов из `recipes` на предложения при помощи пакета `nltk`. Найдите 5 самых длинных описаний (по количеству _предложений_) рецептов в датасете и выведите строки фрейма, соответствующие этим рецептами, в порядке убывания длины.

In [ ]:
recipes['n_sent'] = recipes['description'].apply(lambda i: len(nltk.sent_tokenize(str(i))))
recipes.nlargest(5, ['n_sent'])

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,n_sent
18408,my favorite buttercream icing for decorating,334113,30,681465,2008-10-30,12.0,this wonderful icing is used for icing cakes a...,NaN,76
481,alligator claws avocado fritters with chipot...,287008,45,765354,2008-02-19,NaN,a translucent golden-brown crust allows the gr...,9.0,27
22566,rich barley mushroom soup,328708,60,221776,2008-10-03,NaN,this is one of the best soups i've ever made a...,10.0,24
6779,chocolate tea,205348,6,428824,2007-01-14,NaN,i wrote this because there are an astounding l...,NaN,23
16296,little bunny foo foo cake carrot cake with c...,316000,68,689540,2008-07-27,14.0,the first time i made this cake i grated a mil...,NaN,23

8\. Напишите функцию, которая для заданного предложения выводит информацию о частях речи слов, входящих в предложение, в следующем виде:
```
PRP   VBD   DT      NNS     CC   VBD      NNS        RB   
 I  omitted the raspberries and added strawberries instead
``` 
Для определения части речи слова можно воспользоваться `nltk.pos_tag`.

Проверьте работоспособность функции на названии рецепта с id 241106.

Обратите внимание, что часть речи должна находиться ровно посередине над соотвествующим словом, а между самими словами должен быть ровно один пробел.

In [ ]:
recipes[recipes['id'] == 241106]['name'].values

array(['eggplant steaks with chickpeas  feta cheese and black olives'],
      dtype=object)

In [ ]:
sent = 'eggplant steaks with chickpeas  feta cheese and black olives'
def sent_tag(sent):
  word_value = nltk.pos_tag(nltk.word_tokenize(sent))
  up, down = '', ''
  for i in word_value:
    up += f' {i[1]: ^{len(i[0])}}'
    down += i[0]+' '
  return up+'\n'+down
print(sent_tag(sent))

    JJ     NNS    IN     NNS    VBP    JJ   CC   JJ    NNS
eggplant steaks with chickpeas feta cheese and black olives